<nav class="sidebar">
    <div class="sidebar-header" style="padding: 0 12px;">
    <a href="#" class="sidebar-brand" style="cursor: pointer">
        <!-- Noble<span>UI</span> -->
        <img
        src="/images/icons/Logo United Transindo.png"
        alt=""
        width="30"
        height="30"
        />
        <label
        for=""
        style="margin: 0; font-size: 17px; text-wrap: nowrap; cursor: pointer;"
        >United Transindo</label
        >
        <!-- United Transindo -->
    </a>
    <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <div class="sidebar-body">
    <ul class="nav">
        <!-- <li class="nav-item nav-category">Main</li> -->
        <li class="nav-item">
        <a href="/" class="nav-link">
            <i class="link-icon" data-feather="box"></i>
            <span class="link-title">Dashboard</span>
        </a>
        <!-- <a href="./pages/tables/database.html" class="nav-link">
            <i class="link-icon" data-feather="layout"></i>
            <span class="link-title">Database</span>
        </a> -->
        <!-- <a
            class="nav-link"
            data-toggle="collapse"
            href="./pages/tables/database.html"
            role="button"
            aria-expanded="false"
            aria-controls="tables"
        >
            <i class="link-icon" data-feather="layout"></i>
            <span class="link-title">Database</span> -->
        <!-- <i class="link-arrow" data-feather="chevron-down"></i> -->
        <!-- </a> -->
        </li>
        <!-- <li class="nav-item">
        <a href="/database" class="nav-link">
            <i class="link-icon" data-feather="database"></i>
            <span class="link-title">Database</span>
        </a>
        </li>
        <li class="nav-item">
            <a href="/report" class="nav-link">
                <i class="link-icon" data-feather="database"></i>
                <span class="link-title">Report</span>
            </a>
            </li> -->
        <li class="nav-item nav-category">Module</li>
        <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="collapse"
            href="#pemasaran"
            role="button"
            aria-expanded="false"
            aria-controls="users"
        >
            <i class="link-icon" data-feather="users"></i>
            <span class="link-title">Marketing</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="pemasaran">
            <ul class="nav sub-menu">
            <li class="nav-item">
                <a href="/input-job-order" class="nav-link">
                    <i class="link-icon" data-feather="file-text"></i>
                    <span class="link-title">Input Job Order</span>
                </a>
            </li>
            </ul>
        </div>
        </li>
        <!-- <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="collapse"
            href="#operasional"
            role="button"
            aria-expanded="false"
            aria-controls="users"
        >
            <i class="link-icon" data-feather="users"></i>
            <span class="link-title">Operasional</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="operasional">
            <ul class="nav sub-menu">
            <li class="nav-item">
                <a
                class="nav-link"
                data-toggle="collapse"
                href="pages/operasional/entry-form.html"
                role="button"
                aria-expanded="false"
                aria-controls="forms"
                >
                <i class="link-icon" data-feather="file-text"></i>
                <span class="link-title">Entry Form</span>
                </a>
            </li>
            </ul>
        </div>
        </li>
        <li class="nav-item">
        <a
            class="nav-link"
            data-toggle="collapse"
            href="#keuangan"
            role="button"
            aria-expanded="false"
            aria-controls="users"
        >
            <i class="link-icon" data-feather="users"></i>
            <span class="link-title">Keuangan</span>
            <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="keuangan">
            <ul class="nav sub-menu">
            <li class="nav-item">
                <a
                class="nav-link"
                data-toggle="collapse"
                href="pages/keuangan/entry-form.html"
                role="button"
                aria-expanded="false"
                aria-controls="forms"
                >
                <i class="link-icon" data-feather="file-text"></i>
                <span class="link-title">Entry Form</span>
                </a>
            </li>
            </ul>
        </div>
        </li> -->
    </ul>
    </div>
</nav>
<nav class="settings-sidebar">
    <div class="sidebar-body">
    <a href="#" class="settings-sidebar-toggler">
        <i data-feather="settings"></i>
    </a>
    <h6 class="text-muted">Sidebar:</h6>
    <div class="form-group border-bottom">
        <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input
            type="radio"
            class="form-check-input"
            name="sidebarThemeSettings"
            id="sidebarLight"
            value="sidebar-light"
            checked
            />
            Light
        </label>
        </div>
        <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input
            type="radio"
            class="form-check-input"
            name="sidebarThemeSettings"
            id="sidebarDark"
            value="sidebar-dark"
            />
            Dark
        </label>
        </div>
    </div>
    <div class="theme-wrapper">
        <h6 class="text-muted mb-2">Light Theme:</h6>
        <a
        class="theme-item active"
        href="../demo_1/dashboard-one.html"
        >
        <img
            src="/images/screenshots/light.jpg"
            alt="light theme"
        />
        </a>
        <h6 class="text-muted mb-2">Dark Theme:</h6>
        <a class="theme-item" href="../demo_2/dashboard-one.html">
        <img
            src="/images/screenshots/dark.jpg"
            alt="light theme"
        />
        </a>
    </div>
    </div>
</nav>